@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black outline-none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
